body {
  color: #91658d;
}

*,
*:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

input:required {
  box-shadow: none;
}
input:invalid {
  box-shadow: none;
}

input:focus {
  box-shadow: none;
  outline: none;
  border: none;
}

.app {
  height: 100%;
  font-family: 'Nunito Sans', sans-serif;
  /* font-family: 'Ubuntu Mono', serif; */
}

main {
  padding-top: 100px;
  margin: 0 auto;
}

.page-title {
  text-align: center;
  margin-bottom: 2em;
}

label {
  font-size: 18px;
  text-align: center;
}

input {
  text-align: center;
}

fieldset {
  padding: 0;
}

button {
  background-color: #9784b5;
  color: #ededed;
  font-family: 'Nunito Sans', sans-serif;

  border-radius: 2px;
  padding: 5px;
  cursor: pointer;

  display: inline-block;
  margin: 5px auto;
}

.log-btn {
  height: 32px;
  padding: 5px 8px;
  font-size: 13px;
  min-width: 132px;
  width: auto;
}

.log-btn > a {
  color: #ededed;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 24px;
  }
}
