.container {
  width: 100%;
  min-height: 600px;
}

.container p {
  max-width: 75%;
  margin: 2em auto;
  text-align: center;
}

#divTable {
  background: rgba(62, 64, 103, 0.8);
  color: #e8cee9;

  display: table;
  margin: auto;
}

#divTableHeader {
  font-size: 18px;

  height: 60px;
  min-width: 100px;
  max-width: 100px;
  text-align: center;
}

.divTableRow {
  display: table-row;
}

@media only screen and (min-width: 480px) {
  #moments-list {
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) {
  #divTableHeader {
    height: 100px;
  }
}
