.container {
  width: 100%;
  /* height: fit-content; */
  min-height: 600px;
  padding: 0 2em;
  overflow-y: scroll;
}

.container p {
  max-width: 75%;
  margin: 2em auto;
  text-align: center;
}

#divTable {
  display: table;
  margin: auto;
}

#divTableHeader {
  font-size: 18px;
  height: 100px;
  min-width: 100px;
  max-width: 100px;
  text-align: center;
}

.divTableRow {
  display: table-row;
}

@media only screen and (min-width: 480px) {
  #moments-list {
    font-size: 20px;
  }
}
