#tagline {
  display: flex;
  color: #4e3d6a;
  width: 100%;
  min-height: 70vh;
  max-height: 100vh;
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
  padding-bottom: 25%;
}

#tagline > h1,
#tagline > p {
  flex: 1 0 5%;
}

.fa-angle-down {
  cursor: pointer;
  color: #9784b5;
  font-size: 4em;
}

#about {
  display: flex;
  width: 100%;
  min-height: 200px;
  height: auto;
  flex-direction: column;
}

#about div {
  display: flex;
  height: 100vh;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 1em;
}

#signup {
  text-decoration: none;
  color: #4e3d6a;
}

#credit {
  font-size: 12px;
  color: #9784b5;
}

@media only screen and (min-width: 786px) {
  p {
    font-size: 24px;
    max-width: 75%;
  }
}
