#tagline,
#about {
  display: flex;
  width: 100%;
  min-height: 70vh;
  max-height: 100vh;
  align-items: center;
  flex-direction: column;
}

#tagline {
  padding-bottom: 10%;
}

#about {
  padding-top: 25%;
}

#tagline > h1,
#tagline > p,
#about > h1,
#about > p {
  flex: 1 0 5%;
}

.fa-angle-down,
.fa-angle-up {
  flex: auto;
  cursor: pointer;
  color: #bbb6db;
  font-size: 64px;
}

#signup {
  text-decoration: none;
  color: #4e3d6a;
}

footer {
  padding-top: 10%;
  font-size: 0.5em;
  padding-bottom: 0.5em;
}

footer > a,
footer > a:visited {
  text-decoration: none;
  color: #e8cee9;
}

@media only screen and (min-width: 786px) {
  p {
    font-size: 24px;
    max-width: 75%;
  }
}
