.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 190px;

  margin: 0 auto;
  height: 100vh;
}

input#username.form-input,
input#password.form-input,
input#passwordConfirm.form-input {
  display: inline-block;
  min-width: 150px !important;
  padding: 0;
  margin: 0 auto;
}

.demouser {
  font-size: 12px;
}
