.divTableCell {
  font-size: 12px;
  display: table-cell;
  text-align: center;

  min-width: 65px;
  max-width: 65px;
  padding: 0 1px;
}

.location {
  min-width: 100px;
}

@media only screen and (min-width: 768px) {
  .divTableCell {
    font-size: 16px;
    min-width: 100px;
    max-width: 100px;
    padding: 0 5px;
  }

  .edit-column {
    min-width: 110px;
    max-width: 110px;
  }

  .location {
    min-width: 150px;
  }
}
