#record-moment {
  background: rgba(62, 64, 103, 0.8);
  color: #e8cee9;

  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
}

#record-moment button[type='submit'] {
  margin-top: 2em;
}

#record-moment :first-child {
  margin-top: 0.15em;
}

.form-container p {
  font-size: 18px !important;
  margin-bottom: 0;
  max-width: 400px;
}

.form-container input {
  display: block !important;
  width: 150px !important;
}

/* .option-btn {
  background-color: white;
} */

.date {
  width: 500px;
}

.time-options,
.mental-options,
.environmental-options {
  text-align: center;
  list-style-type: none;
  padding-left: 0;
}

.time-options li,
.mental-options li,
.environmental-options li {
  /* float: left; */
  margin: 0 5px 0 0;
  width: 100%;
  height: 40px;
  position: relative;
  margin: 0 auto;
  max-width: 200px;
}

.time-options span,
.mental-options span,
.environmental-options span {
  padding-top: 10px;
}

.time-options span,
.time-options input,
.mental-options span,
.mental-options input,
.environmental-options span,
.environmental-options input {
  font-size: 12px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f3eaff;
  color: #4e3d6a;
}

.time-options span:hover,
.mental-options span:hover,
.environmental-options span:hover {
  cursor: pointer;
  background-color: #91658d;
  color: white;
}

.time-options input[type='radio'],
.mental-options input[type='radio'],
.environmental-options input[type='radio'] {
  opacity: 0.011;
  z-index: 100;
}

.time-options input[type='radio']:checked + span,
.mental-options input[type='radio']:checked + span,
.environmental-options input[type='radio']:checked + span {
  background-color: #4e3d6a;
  color: white;
}

.option {
  float: left;
}

div.option span {
  text-align: right;
  clear: both;
  float: left;
  margin-right: 0.25em;
  transform: translateY(-0.3em);
}

/* date picker style overrides */
.react-date-picker {
  display: block !important;
  width: 150px !important;
  font-size: 12px;
  background-color: white;
  margin: 0 auto;
}

.react-date-picker__wrapper {
  border: none !important;
}

.react-date-picker__inputGroup {
  min-width: 150px !important;
  width: 150px !important;
}

.react-date-picker__button {
  display: none !important;
}

.react-date-picker__inputGroup__input {
  color: black;
}

.react-calendar {
  background-color: #f3eaff;
  color: #4e3d6a;
}

.react-calendar button {
  color: #4e3d6a;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #91658d;
}

.react-calendar__month-view__days__day--weekend {
  color: #4e3d6a !important;
}

.react-calendar__tile--active {
  background-color: #4e3d6a !important;
  color: #f3eaff !important;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background-color: #91658d !important;
}

@media only screen and (min-width: 768px) {
  .form-container {
    min-width: 750px;
  }
}
